@import url('./main-layout.css');
@import url('./views/schedule-user-view.css');
@import url('./views/schedule-admin-view.css');
@import url('./views/feed-view.css');    html {
      --lumo-base-color: #141415;
      --lumo-shade: hsl(214, 0%, 66%);
      --lumo-shade-5pct: hsla(214, 0%, 66%, 0.05);
      --lumo-shade-10pct: hsla(214, 0%, 66%, 0.1);
      --lumo-shade-20pct: hsla(214, 0%, 66%, 0.2);
      --lumo-shade-30pct: hsla(214, 0%, 66%, 0.3);
      --lumo-shade-40pct: hsla(214, 0%, 66%, 0.4);
      --lumo-shade-50pct: hsla(214, 0%, 66%, 0.5);
      --lumo-shade-60pct: hsla(214, 0%, 66%, 0.6);
      --lumo-shade-70pct: hsla(214, 0%, 66%, 0.7);
      --lumo-shade-80pct: hsla(214, 0%, 66%, 0.8);
      --lumo-shade-90pct: hsla(214, 0%, 66%, 0.9);
      --lumo-primary-color: hsl(146, 100%, 35%);
      --lumo-primary-color-50pct: hsla(146, 100%, 35%, 0.5);
      --lumo-primary-color-10pct: hsla(146, 100%, 35%, 0.1);
      --lumo-primary-text-color: hsl(140, 100%, 30%);
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
      --lumo-body-text-color: hsla(214, 0%, 44%, 0.94);

    }
